parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''request_logging'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Integration/Mezzio/LoggingMiddlewareFactory.php

		-
			message: '#^Parameter \$logger of class MethorZ\\RequestLogger\\Middleware\\LoggingMiddleware constructor expects Psr\\Log\\LoggerInterface, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Integration/Mezzio/LoggingMiddlewareFactory.php
